html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
}
.content {
  margin-left: 0;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
}

.header-toogle {
  color: #4723d9;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
}
.logout {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
}
.sidebar-is-open {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 100vh;
  background-color: #141c28;
  transition: all 0.5s;
  z-index: 100;
  overflow-y: auto;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  color: #fafafa;
}

.nav_logo {
  position: relative;
  width: 100%;
  padding: 10px;
}

.nav_logo > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.pull-left {
  float: left !important;
}
.image-cricle {
  border-radius: 50%;
}

.nav_logo > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.nav_link {
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link > a {
  color: #fafafa;
  text-decoration: none;
}
.nav_link > a.active {
  color: #4723d9;
  text-decoration: #fafafa;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: #fafafa;
}
.nav_name {
  color: #fafafa;
  font-weight: 700;
  padding-top: 10px;
}
.nav_logo-name {
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: #afa5d9;
  transition: all 0.5s;
}

.nav_link:hover {
  background: #afa5d9;
}
.nav_link:active {
  background: #795dec;
}
/* 
.active a {
  background-color: red;
  color: #fff;
} */

.menu-close-icon {
  visibility: hidden;
}


.nav_list {
  padding: 0px;
}

.nav_icon {
  font-size: 1.25rem;
  margin-right: 10px;
}
.sidebar {
  right: 30%;
  height: calc(100%- 2rem);
  width: calc(68px + 156px);
  transition: all 0.5s;
  background-color: #705608;
}

.menu-close-icon {
  visibility: hidden;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #f7f6fb;
}

.lines {
  background-color: #eeeff6;
  width: 206px;
  height: 2px;
}
.login-box {
  background: transparent;
  background-image: url("https://images.pexels.com/photos/5775309/pexels-photo-5775309.jpeg?cs=srgb&dl=pexels-disha-sheta-5775309.jpg&fm=jpg");
  background-size: cover;
}
.login {
  background: #7e6312;
  border-radius: 25px;
}
.fp-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
  align-items: center;
  display: flex;
  justify-content: center;
}
.fp-container .fp-loader {
  top: 30%;
  left: 48%;
  z-index: 1000;
  align-self: center;
  position: absolute;
}

.roundedCustom {
  border-radius: 0.7rem !important;
}

/* ///// points -----// */
.points {
  width: 100%;
  font-size: larger;
  font-weight: bold;
  border: none !important;
}
.Pointstable {
  width: 50%;
  border-radius: 10px;
}
.linetage {
  width: 100%;
  height: 2px;
  margin: 9px 0px;
  border: 1px solid #8189bd;
}

.topupPoint {
  background: white;
  /* width: 50%; */
  border-radius: 18px;
  padding: 0px 5px;
}

/* ------ payment method card csss ------ */
.paymentDetail {
  margin: 0px 20px 20px 20px;
  text-align: start;
}
.right-side {
  width: 100%;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
}

.right-side h3 {
  margin-top: 30px;
  margin-left: 10px;
}

.input-text {
  position: relative;
  margin-bottom: 30px;
}

.inputText {
  height: 40px;
  width: 100%;
  border: none;
  outline: 0;
  border-bottom: 1px solid #b9c7da;
  padding: 0 10px;
  box-sizing: border-box;
}

.input-text span {
  position: absolute;
  left: 10px;
  top: -13px;
  font-size: 12px;
  font-weight: 700;
}

.input-div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input-div .input-text {
  width: 50%;
}

.button {
  margin: 30px 0px;
  float: right;
}
.clickpay {
  height: 40px;
  width: 120px;
  border-color: #705608;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
}
.clickpaynext {
  margin-left: 5px;
  height: 40px;
  width: 120px;
  background-color: #705608;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

/* ---- transtion history ----- */

.label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
@media (max-width: 575.99px) {
  .content.is-open {
    margin-left: 100%;
  }

  .sidebar-is-open {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem 1rem 0 0;
  }
  .menu-close-icon {
    visibility: visible;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .sidebar {
    width: 0px;
  }
  .topupPoint {
    width: 100%;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .content.is-open {
    margin-left: 100%;
  }
  .topupPoint {
    width: 100%;
  }
}
